---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
    <a href="/">Home</a>
    <a href="/recipes/">Recipes</a>
    <a href="/about/">About</a>

		<h1>About Me</h1>
		<h2>...and the cooked website!</h2>
    <p>This site is is my way to share recipes that are good in a minimal way. No ads, no life stories, no tracking and minimal bloat. (it is also an experiment in learning to use Astro...)</p>
    <p>This sites will update as I try new recipes (I try to cook new things every week)</p>
    <p>The goal is to remain free and open source. You can support my efforts by donating to me using the links below: </p>
    <ul>
      <li>Paypal</li>
      <li>Buy me a coffee</li>
      <li>Bitcoin</li>
      <li>Monero</li>
    </ul>

	</body>
</html>
