<body>
  <a href="/">Home</a>
  <a href="/recipes/">Recipes</a>
  <a href="/about/">About</a>

  <h1>Recipe Index</h1>
  <h1>All the recipes on the website</h1>
  <p>This is where I will index all the recipes.</p>
</body>
